:root {
    --bg: #EEEEEE;
    --hd: rgba(255, 255, 255, 0.254);
    --color2: #64CCC5;
    --color3: #176B87;
    --color4: #053B50;
    --color5: #62ded8b0;
    --shadow: rgb(123, 123, 123);
}

html {
    overflow-x: hidden;

    width: 100vw;
}

body {
    background-color: var(--bg);

    margin: 0;
    padding: 0;

    font-family: 'Open Sans', sans-serif;
}

#root {
    backdrop-filter: blur(100px);

    width: 100vw;
    min-height: 100vh;
}

.time {
    /* border: 1px solid black; */
    
    height: 99vh;
    width: 100vw;
    
    display: flex;
    flex-direction: column;
    gap: 5vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#mover {
    background-color: var(--color2);
    box-shadow: 0px 0px 200px 200px var(--color5);

    border-radius: 100%;

    height: 6vh;
    width: 3vw;

    position: absolute;

    transform:translate3d(-50%,-50%,0);
    transition:transform 2s cubic-bezier(.02,1.23,.79,1.08);

    filter: blur(100px);

    z-index: -1;
}

#heading {
    /* border: 1px solid black; */
    background-color: var(--hd);
    box-shadow: 0px 0px 5px 1px var(--shadow);

    backdrop-filter: blur(100px);

    display: flex;
    justify-content: flex-start;
    align-items: center;

    height: 5vh;
    width: 100vw;
}
#heading h1 {
    /* border: 1px solid black; */
    color: var(--color3);

    display: inline-block;
    
    /* cursor: pointer; */
    user-select: none;

    margin-inline: 2vw;

    font-size: 1.5em;
}

#clock {
    background-color: var(--hd);
    /* border: 1px solid black; */
    box-shadow: 0px 0px 5px 1px var(--shadow);

    height: 80vh;
    width: 90vw;

    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
}

#the-time {
    /* border: 1px solid black; */
    box-shadow: 0px 0px 5px 0px var(--shadow);
    color: var(--color4);

    border-radius: 1rem;

    height: 58vh;
    width: 80vw;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5vw;
}

#hour {
    /* border: 1px solid black; */

    height: 50vh;
    width: 20vw;

    font-size: 5em;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 0;

    cursor: default;
    user-select: none;
}

.colon {
    /* border: 1px solid black; */

    height: 50vh;
    width: 4vw;

    font-size: 5em;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 0;

    cursor: default;
    user-select: none;
}

#minute {
    /* border: 1px solid black; */
    
    height: 50vh;
    width: 20vw;

    font-size: 5em;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 0;

    cursor: default;
    user-select: none;
} 

#seconds {
    /* border: 1px solid black; */
    
    height: 50vh;
    width: 20vw;
    
    font-size: 5em;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin: 0;
    padding: 0;
    
    cursor: default;
    user-select: none;
}

#the-date {
    /* border: 1px solid black; */
    box-shadow: 0px 0px 5px 0px var(--shadow);
    color: var(--color4);

    border-radius: 1rem;

    height: 10vh;
    min-width: 10vw;

    padding-inline: 2vw;

    cursor: default;
    user-select: none;
}

#themechanger {
    justify-self: flex-start;
    align-self: flex-start;

    padding-inline: 5vw;
}

#theme-change {
    background-color: var(--bg);

    border: none;
    border-radius: 1rem;

    width: 60px;
    height: 50px;

    cursor: pointer;
}

.dark-mode {
    content: url("../assets/theme-change/dark-mode.svg");
}